*.class
*.iml
.Ds_Store

/BuffServer/target
/BuffClient/target
BuffServer/.idea/workspace.xml
BuffClient/.idea/workspace.xml

BuffClient/.idea/workspace.xml

BuffClient/.idea/encodings.xml

BuffClient/.idea

BuffServer/.idea

/.idea
.DS_Store

BuffClient/.DS_Store

Data/.DS_Store
