
.candlestick-tooltip-label {
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
    -fx-text-fill: #666666;
    -fx-padding: 2 5 2 0;
}


.MA5-line {   /**/
    -fx-stroke: black;
    -fx-stroke-width: 3px;
}

.MA10-line {   /**/
    -fx-stroke: rgba(205, 206, 0, 0.51);
    -fx-stroke-width: 3px;
}

.label-gray {
    -fx-background-color: rgba(25,25,25,0.70);
}

.axis {
    -fx-text-fill: #00b8d4;
    -fx-font-color: #00b8d4;
    -fx-tick-label-fill: #00b8d4;
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.chart-title {
    -fx-text-fill: #00b8d4;
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
}

.axis-label {
    -fx-text-fill: #462300;
}

.axis-tick-mark {
    -fx-stroke: #637040;
    -fx-stroke-width: 3;
}
.axis-minor-tick-mark {
    -fx-stroke: #859656;
}


.chart {
    -fx-alternative-column-fill-visible : false;
    -fx-vertical-grid-lines-visible: false;
    -fx-background-color: white;
}
.fx-background-color {
    -fx-background-color: red;
}
.chart-plot-background { /*图表的背景*/
    -fx-background-color: white;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}


.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.default-color0.chart-series-line { -fx-stroke: black; }
.default-color1.chart-series-line { -fx-stroke: yellow; }
.default-color2.chart-series-line { -fx-stroke: greenyellow; }
.default-color3.chart-series-line { -fx-stroke: blue; }

