<h1 class="display-1 text-center">讨论区</h1>

<div id="overall" class="col-sm-12 panel panel-white post" style="margin-top: 10px;">
    <h4 class="post-heading" style="height: 20px; margin-bottom: 50px;">您对这支股票的看法：
        <% if (overall_clickAble) { %>
        <a href="" class="btn btn-default stat-item">
            <i class="fa fa-thumbs-up icon"></i><%= overall_like %>
        </a>
        <a href="" class="btn btn-default stat-item">
            <i class="fa fa-thumbs-down icon"></i><%= overall_dislike %>
        </a>
        <% } else { %>
        <a href="" class="btn btn-default stat-item disabled">
            <i class="fa fa-thumbs-up icon"></i><%= overall_like %>
        </a>
        <a href="" class="btn btn-default stat-item disabled">
            <i class="fa fa-thumbs-down icon"></i><%= overall_dislike %>
        </a>
        <% } %>
    </h4>
</div>

<div class="col-md-12">
    <div class="widget-area no-padding blank" style="border: 2px solid #F2F2F2;">
        <div class="status-upload">
            <form>
                <textarea id="commentArea" placeholder="添加自己的评论..."></textarea>
                <button id="submitCommentBtn" type="submit" class="btn btn-success btn-block" style="float: none"><i
                            class="fa fa-share"></i>发表
                </button>
            </form>
        </div>
    </div>
</div>

<div style="height: 20px;"></div>

<% allComments.forEach(function (comment) { %>
<% include commentSeg.ejs %>
<% }) %>

<script>
    $('#overall > h4 > a').click(function (e) {
        e.preventDefault();

        <% if(typeof user !== "undefined") { %>
        let btnType = $(this).children()[0].outerHTML.substring(13, 25);
        if(btnType === 'fa-thumbs-up') {
            $.post("single-stock/pressStockGood",{stockCode: currentStockCode}, function(result){
                if(result === 'ERROR')
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>服务器忙，请稍后再试！</strong></div>');
            });
        } else {
            $.post("single-stock/pressStockBad",{stockCode: currentStockCode}, function(result){
                if(result === 'ERROR')
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>服务器忙，请稍后再试！</strong></div>');
            });
        }
        getComments(currentStockCode);
        <% }else { %>
        $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请登录之后再点赞！</strong></div>');
        window.setTimeout(function () {
            $("#bottom-alert").alert("close");
        }, 2000);
        <% } %>

    });

    $('.stats > a').click(function (e) {
        e.preventDefault();

        <% if(typeof user !== "undefined") { %>
        let type = $(this).children()[0].outerHTML.substring(13, 25);
        let content_id = $(this).parent()[0].getId();


        if(type === 'fa-thumbs-up') {
            $.post("single-stock/pressContentGood", {content_id: content_id, stockCode: currentStockCode}, function(result){
                if(result === 'ERROR')
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>服务器忙，请稍后再试！</strong></div>');
            });
        } else {
            $.post("single-stock/pressContentBad",{content_id: content_id, stockCode: currentStockCode}, function(result){
                if(result === 'ERROR')
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>服务器忙，请稍后再试！</strong></div>');
            });
        }
        getComments(currentStockCode);
        <% }else { %>
        $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请登录之后再点赞！</strong></div>');
        window.setTimeout(function () {
            $("#bottom-alert").alert("close");
        }, 2000);
        <% } %>
    });

    $('#submitCommentBtn').click(function (e) {
        e.preventDefault();


        <% if(typeof user !== "undefined") { %>
        let comment = $('#commentArea').val();

        $.post("single-stock/commentStock", {stockCode: currentStockCode, content: comment}, function(result){
            if(result === 'ERROR')
                $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>服务器忙，请稍后再试！</strong></div>');
        });

        getComments(currentStockCode);
        <% }else { %>
        $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请登录之后再点赞！</strong></div>');
        window.setTimeout(function () {
            $("#bottom-alert").alert("close");
        }, 2000);
        <% } %>
    });
</script>