<div class="bloc bgc-white l-bloc">
    <div class="container bloc-md">
        <div class="row bgc-white">
            <div class="col-sm-12 text-center">
                <img src="/img/favicon.ico" class="img-responsive center-block mg-sm" height="38" width="98" />
                <p class="text-center">
                    Co. BUFF TREATURE
                </p>
            </div>
        </div>
    </div>
</div>