<div class="bloc bgc-white l-bloc" id="bloc-0">
    <div class="container fill-bloc-top-edge">
        <nav class="navbar row">
            <div class="navbar-header">
                <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-1">
                <ul class="nav navbar-nav navbar-left" style="height: 62px;">
                    <li>
                        <a href="/">主页</a>
                    </li>
                    <li>
                        <a href="/market">大盘</a>
                    </li>
                    <li>
                        <a href="/single-stock">个股</a>
                    </li>

                    <% if(typeof user !== "undefined") { %>
                    <li><a href="/user/marketthermometer">市场温度计</a></li>
                    <li><a href="/user/quantitative-analysis">量化回测</a></li>
                    <% } %>
                    <li><a href="/about-us">关于我们</a></li>
                    <% if(typeof user === "undefined") { %>
                    <li><a href="/sign-in">登录</a></li>
                    <% } %>
                </ul>
                <% if(typeof user !== "undefined") { %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <span class="fa fa-2x fa-user fa-fw"></span><span class="fa fa-2x fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu text-center">
                            <li class="text-center">您好!  <em><strong> <%= user %></strong></em></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="#">未读消息 <sup><span id="unread_badge" class="badge" style="background-color: red;"></span></sup></a></li>
                            <li class="text-center"><a href="#">已读消息</a></li>
                            <li class="text-center"><a href="/user/<%= user %>/personalStocks">我的自选股</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center"><a href="/logout">登出</a></li>
                        </ul>
                    </li><span class="badge" id="all_unread_badge" style="background-color: red;"></span>
                </ul>
                <script>
                    //TODO 设置定时询问未读消息的代码
                </script>
                <% }else { %>
                    <a class="navbar-brand navbar-right" href="/"><img src="/img/favicon.ico" alt="logo" height="62"/></a>
                <% } %>
            </div>
        </nav>
    </div>
</div>