<!doctype html>
<html>
<head>
    <% include Components/settings.html %>
    <title>About Us</title>
</head>

<body>
<!-- Main container -->
<div class="page-container">

    <% include Components/navigator.ejs %>

    <!-- bloc-5 -->
    <div class="bloc bgc-white l-bloc" id="bloc-5">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center mg-md">
                        About Us
                    </h2>
                    <p class="sub-heading text-center">
                        If You Got Kinda of Crash On Us. We Are Little Buffets, Exactly.
                    </p>
                </div>
            </div>
            <div class="row voffset-lg">
                <div class="col-sm-3">
                    <img src="img/wsw.png" class="img-responsive"/>
                    <h3 class="text-center mg-md">
                        王帅惟
                    </h3>
                    <p class="text-center">
                        Mr.PM
                    </p>
                </div>
                <div class="col-sm-3">
                    <img src="img/ty.png" class="img-responsive"/>
                    <h3 class="text-center mg-md">
                        田原
                    </h3>
                    <p class="text-center">
                        Algorithm Handler.
                    </p>
                </div>
                <div class="col-sm-3">
                    <img src="img/jjy.png" class="img-responsive"/>
                    <h3 class="text-center mg-md">
                        朱俊毅
                    </h3>
                    <p class="text-center">
                        View Handler.<br>
                    </p>
                </div>
                <div class="col-sm-3">
                    <img src="img/wnj.jpeg" class="img-responsive image-resize-mode" width="300"/>
                    <h3 class="text-center mg-md">
                        万年杰
                    </h3>
                    <p class="text-center">
                        Just goofing around.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-5 END -->

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->

</div>
<!-- Main container END -->

<% include Components/footer.ejs %>
</body>
</html>
