<!doctype html>
<html>
<head>
    <% include Components/settings.html %>
    <title>MarketThermometer</title>
</head>
<body>
<!-- Main container -->
<div class="page-container">
    <% include Components/navigator.ejs %>

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->

</div>
<!-- Main container END -->
</body>

<% include Components/footer.ejs %>
</html>
