<!doctype html>
<html lang="zh-CN">
<head>
    <% include Components/settings.html %>
    <title>BUFF-注册</title>
</head>

<body>

<div class="page-container">
    <% include Components/navigator.ejs %>

    <div class="bloc bgc-white l-bloc" id="bloc-7">
        <div class="container bloc-sm">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3">
                    <img src="img/question.png" class="img-responsive img-circle"/>
                </div>
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h3 class="statement-bloc-text text-center">
                        "人生就像滚雪球，重要的是发现够湿的雪，和一道够长的山坡。如果你所处正确的雪中，雪球自然会滚起来，我就是如此。"
                    </h3>
                    <p class="text-center">
                        <strong>沃伦·巴菲特</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bloc bgc-white l-bloc" id="bloc-8">
        <div class="container bloc-md">
            <div class="row">
                <div class="col-sm-6">
                    <img src="img/I_want_you.jpeg" class="img-responsive" height="374" width="499"/>
                </div>
                <div class="col-sm-6">
                    <h2 class="mg-lg text-center">
                        WILL YOU BE THE NEXT?
                    </h2>

                    <form action="" method="post" name="signIn" autocomplete="true">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>用户名</label>
                                <input type="text" class="form-control" placeholder="Username" id="username_field"
                                       name="username" required
                                       data-validation-required-message="请输入用户名">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>电子邮箱</label>
                                <input type="email" class="form-control" placeholder="Email" id="email_field"
                                       name="email" required
                                       data-validation-required-message="请输入您的E-mail地址">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>请输入密码</label>
                                <input type="password" class="form-control" placeholder="Password" id="password_field"
                                       name="password"
                                       required data-validation-required-message="请输入密码">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>请确认密码</label>
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                       id="confirm_password_field"
                                       name="confirm_password"
                                       required data-validation-required-message="请输入密码">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit"
                                    class="btn-success bloc-button btn flipInY btn-lg btn-block btn-clean shake-hvr animated btn-black"
                                    id="signInButton">
                                立即注册
                            </button>

                            <script type="text/javascript">
                                $(function () {

                                    $("#signInButton").click(function () {

                                        let pwd = $('#password_field').val();

                                        let cpwd = $('#confirm_password_field').val();
                                        if (pwd !== cpwd) {
                                            $('.scrollToTop').after("<div id='bottom-alert' class='text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom' style='bottom: -20px;' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><spanaria-hidden='true'>&times;</span></button> <strong>两次输入的密码不一致！</strong> </div>");

                                            window.setTimeout(function () {
                                                $('#bottom-alert').alert('close');
                                            }, 2000);

                                            $('#password_field').val("");
                                            $('#confirm_password_field').val("");
                                            return false;
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>


    <% include Components/bottomAlert.ejs %>
</div>

</body>

<% include Components/footer.ejs %>
</html>
