<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <% include Components/settings.html %>
    <title>BUFF-个股</title>

    <!--echarts dependency-->
    <script src="/echarts/echarts.min.js"></script>

    <!--Jquery-UI-->
    <script src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        let dataZoomLength = 60;

        function calculateMA(dayCount, adjDatas) {
            let result = [];
            let len = adjDatas.length;
            for (let i = 0; i < len; i++) {
                if (i < dayCount) {
                    result.push('-');
                    continue;
                }
                let sum = 0;
                for (let j = 0; j < dayCount; j++) {
                    sum += adjDatas[i - j];
                }
                result.push(sum / dayCount);
            }
            return result;
        }

        function getFullStockCode(stockCode) {
            let sub = stockCode.substring(0, 3);
            if (sub === '000' || sub === '200' || sub === '002' || sub === '300')
                return 'sz' + stockCode;
            else
                return 'sh' + stockCode;
        }
        function getAnotherFullStockName(stockCode) {
            let sub = stockCode.substring(0, 3);
            if (sub === '000' || sub === '200' || sub === '002' || sub === '300')
                return '1' + stockCode;
            else
                return '0' + stockCode;
        }
        function splitTimeSharingData(rawData) {
            let stockCode = rawData.symbol;
            let stockName = rawData.name;
            let data = rawData.data;
            let times = [];
            let prices = [];
            let avgPrices = [];
            let volumns = [];

            for (let i = 0; i < data.length; i++) {
                let rawTime = data[i].splice(0, 1)[0];
                times.push(rawTime.substring(0, 2) + ':' + rawTime.substring(2));
                prices.push(data[i].splice(0, 1)[0]);
                avgPrices.push(data[i].splice(0, 1)[0]);
                volumns.push(data[i].splice(0, 1)[0]);
            }
            return {
                stockName: stockName,
                stockCode: stockCode,
                categoryData: times,
                prices: prices,
                avgPrices: avgPrices,
                volumns: volumns
            };
        }

        // 基本数据
        function getBasicData(stockCode) {
            let fullStockCode = getFullStockCode(stockCode);

            $.ajax({
                url: 'http://hq.sinajs.cn/list=' + fullStockCode,
                dataType: "script",
                async: false,
                cache: true,
                success: () => {
                    let realTimeInfo = [];
                    eval('realTimeInfo = ' + 'hq_str_' + fullStockCode + '.split(",")');
                    $('#stock_name').html(realTimeInfo[0]);
                    $('#stock_code').html('(' + fullStockCode + ')');
                    $('#current_price').text(Math.round(realTimeInfo[3] * 100) / 100);
                    $('#chg').html(Math.round((realTimeInfo[3] - realTimeInfo[2]) * 100) / 100);
                    $('#chg_p').html(Math.round((realTimeInfo[3] - realTimeInfo[2]) / realTimeInfo[2] * 10000) / 100 + '%');
                    if (realTimeInfo[3] - realTimeInfo[2] < 0) {
                        $("#current_price").css({color: "green"});
                        $("#chg").css({color: "green"});
                        $("#chg_p").css({color: "green"});
                        $("#imp_icon").addClass("fa-arrow-down");
                        $("#imp_icon").css({color: "green"});
                    } else {
                        $("#current_price").css({color: "red"});
                        $("#chg").css({color: "red"});
                        $("#chg_p").css({color: "red"});
                        $("#imp_icon").addClass("fa-arrow-up");
                        $("#imp_icon").css({color: "red"});
                    }

                    let re = /(<th>.*<\/th>)/;

                    let list = $('#five_table > tbody > tr');
                    let str = '';

                    for(let i = 0; i < 5; i++) {
                        let result = re.exec(list[i].innerHTML);
                        str = str + '<tr>' + result[1] +  '<td>' + realTimeInfo[29-2*i] + '</td><td>' + Math.round(realTimeInfo[28-2*i]/100) + '</td></tr>';
                    }

                    for(let i = 0; i < 5; i++) {
                        let result = re.exec(list[5+i].innerHTML);
                        str = str + '<tr>' + result[1] + '<td>' + realTimeInfo[10+2*i+1] + '</td><td>' + Math.round(realTimeInfo[10+2*i]/100) + '</td></tr>';
                    }

                    $('#five_table > tbody').html(str);
                }
            });
        }

        // 板块行业
        function getIndustry(stockCode) {
            $.get('single-stock/getStockIndustry', {stockCode: stockCode}, (result) => {
                for (let i = 0; i < result.length; i++) {
                    let appendedStr = '<tr><th>' + result[i] + '</th></tr>';
                    $('#industry_table > tbody').append(appendedStr);
                }
            });

            $.get('single-stock/getStockBoard', {stockCode: stockCode}, (result) => {
                for (let i = 0; i < result.length; i++) {
                    let appendedStr = '<tr><th>' + result[i] + '</th></tr>';
                    $('#block_table > tbody').append(appendedStr);
                }
            });
        }

        function getCharts(stockCode) {
            $('#firstTab').tab('show');

            getBasicData(stockCode);

            getIndustry(stockCode);

            // 分时图数据
            $.ajax({
                type: "get",
                url: 'http://img1.money.126.net/data/hs/time/today/' + getAnotherFullStockName(stockCode) + '.json',
                dataType: "jsonp",
                async: true,
                cache: true,
                beforeSend: function () {
                    $('#stockSeg').css('display', 'block');
                    $('#timeSharingChart').resize();
                    timeSharingChart.resize();
                    timeSharingChart.showLoading();
                },
                success: (result) => {
                    let timeSharingData = splitTimeSharingData(result);
                    timeSharingChart.hideLoading();
                    loadTimeSharingChart(timeSharingData);
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请求分时图数据失败，请稍后再试！</strong></div>');

                    window.setTimeout(function () {
                        $("#bottom-alert").alert("close");
                    }, 2000);
                }
            });

            // 更新分时图，每分钟更新一次
            window.setInterval(function () {
                getBasicData(stockCode);
            }, 60000);

            // 日K数据
            $.ajax({
                type: "post",
                async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "single-stock/getDailyKLine", //请求发送到TestServlet处
                data: $("#stock_form").serialize(),
                dataType: "json", //返回数据形式为json
                beforeSend: function () {
                    daily_KLineChart.showLoading();
                    daily_KDJChart.showLoading();
                },
                success: function (result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        daily_KLineChart.hideLoading();
                        daily_KDJChart.hideLoading();
                        setDailyData(result);
                        loadDailyKLineChart(no_daily_data);
                    }

                    // 开启子选项的监听，避免出错
                    $('#mainTab > li > ul > li > a').click(function (e) {
                        e.preventDefault();
                        $('li.dropdown').removeClass('open');
                        $($(this).parent().parent().parent().children()[0]).tab('show');

                        if ($(this).attr('href') === '#no_daily')
                            loadDailyKLineChart(no_daily_data);
                        if ($(this).attr('href') === '#before_daily')
                            loadDailyKLineChart(before_daily_data);
                        if ($(this).attr('href') === '#after_daily')
                            loadDailyKLineChart(after_daily_data);

                        if ($(this).attr('href') === '#no_weekly')
                            loadWeeklyKLineChart(no_weekly_data);
                        if ($(this).attr('href') === '#before_weekly')
                            loadWeeklyKLineChart(before_weekly_data);
                        if ($(this).attr('href') === '#after_weekly')
                            loadWeeklyKLineChart(after_weekly_data);

                        if ($(this).attr('href') === '#no_monthly')
                            loadMonthlyKLineChart(no_monthly_data);
                        if ($(this).attr('href') === '#before_montyly')
                            loadMonthlyKLineChart(before_monthly_data);
                        if ($(this).attr('href') === '#after_monthly')
                            loadMonthlyKLineChart(after_monthly_data);

                        timeSharingChart.resize();
                        daily_KLineChart.resize();
                        daily_KDJChart.resize();
                        weekly_KLineChart.resize();
                        weekly_KDJChart.resize();
                        monthly_KLineChart.resize();
                        monthly_KDJChart.resize();
                    });
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请求日K数据失败，请稍后再试！</strong></div>');

                    window.setTimeout(function () {
                        $("#bottom-alert").alert("close");
                    }, 2000);
                }
            })

            // 周K数据
            $.ajax({
                type: "post",
                async: true,
                url: "single-stock/getWeeklyKLine",
                data: $("#stock_form").serialize(),
                dataType: "json", //返回数据形式为json
                beforeSend: function (XHR) {
                    weekly_KLineChart.showLoading();
                    weekly_KDJChart.showLoading();
                },
                success: function (result) {
                    if (result) {
                        weekly_KLineChart.hideLoading();
                        weekly_KDJChart.hideLoading();
                        setWeeklyData(result);
                        loadWeeklyKLineChart(no_weekly_data);
                    }
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请求周K数据失败，请稍后再试！</strong></div>');

                    window.setTimeout(function () {
                        $("#bottom-alert").alert("close");
                    }, 2000);
                }
            })

            // 月K数据
            $.ajax({
                type: "post",
                async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "single-stock/getMonthlyKLine", //请求发送到TestServlet处
                data: $("#stock_form").serialize(),
                dataType: "json", //返回数据形式为json
                beforeSend: function (XHR) {
                    monthly_KLineChart.showLoading();
                    monthly_KDJChart.showLoading();
                },
                success: function (result) {
                    if (result) {
                        monthly_KLineChart.hideLoading();
                        monthly_KDJChart.hideLoading();
                        setMonthlyData(result);
                        loadMonthlyKLineChart(no_monthly_data);
                    }
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请求月K数据失败，请稍后再试！</strong></div>');

                    window.setTimeout(function () {
                        $("#bottom-alert").alert("close");
                    }, 2000);
                }
            })
        }
    </script>
    <script type="text/javascript">
        // 自动补全
        $.widget("ui.autocomplete", $.ui.autocomplete, {
            options: {
                maxItems: 9999
            },
            _renderMenu: function (ul, items) {
                let that = this,
                    count = 0;
                $.each(items, function (index, item) {
                    if (count < that.options.maxItems) {
                        that._renderItemData(ul, item);
                    }
                    count++;
                });
            }
        });

        $(document).ready(function () {
            let stockList = [];
            $.get('single-stock/getAllStockList', (result) => {
                stockList = result;
                $('#search_area').autocomplete({
                    autoFocus: true,
                    maxItems: 8,
                    source: stockList
                });
            });

            // 历史访问
            let recent_stocks = [];

            if (localStorage.getItem('recentStocks')) {
                recent_stocks = JSON.parse(localStorage.getItem('recentStocks'));
                $('#search_area').val(recent_stocks[recent_stocks.length - 1][1] + '(' + recent_stocks[recent_stocks.length - 1][0] + ')');
                getCharts(recent_stocks[recent_stocks.length - 1][1]);
                $('#search_area').val('');
            } else {
                $('#search_area').val('000001(平安银行)');
                getCharts('000001');
                $('#search_area').val('');
            }

            for (let i = recent_stocks.length - 1; i >= 0; i--) {
                let appendedStr = '<tr><th>' + recent_stocks[i][0] + '</th><td>' + recent_stocks[i][1] + '</td></tr>';
                $('#recent_stock_table > tbody').append(appendedStr);
            }

            $('#recent_stock_table > tbody > tr').click(function (e) {
                e.preventDefault();
                $('#search_area').val($(this).children()[1].innerText + '(' + $(this).children()[0].innerText + ')');
                getCharts($(this).children()[1].innerText);
                $('#search_area').val('');
            });

            // 表单提交
            $("#stock_form").submit(function (e) {
                e.preventDefault();

                let query = $('#search_area').val();
                if ($.inArray(query, stockList) < 0) {
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>输入格式不正确！请在下拉框中选择一项输入</strong></div>');

                    window.setTimeout(function () {
                        $("#bottom-alert").alert("close");
                    }, 2000);

                    return;
                }

                let re = /([0-9]+)\((.*)\)/;
                let result = re.exec(query);
                let stockCode = result[1];

                // 浏览器缓存
                let recentStocks = [];
                if (localStorage.getItem('recentStocks'))
                    recentStocks = JSON.parse(localStorage.getItem('recentStocks'));

                let newItem = [result[2], stockCode]
                let alreadyExist = false;
                let existIndex = 0;

                for (let i = 0; i < recentStocks.length; i++) {
                    if (recentStocks[i][1] === newItem[1]) {
                        alreadyExist = true;
                        existIndex = i;
                        break;
                    }
                }

                if (alreadyExist) {
                    recentStocks.splice(existIndex, 1);
                    recentStocks.push(newItem);
                } else {
                    recentStocks.push(newItem);
                }

                if (recentStocks.length > 10)
                    recentStocks.shift();

                localStorage.setItem('recentStocks', JSON.stringify(recentStocks));

                getCharts(stockCode);
            });

            // 添加自选股
            $('#addToPersonalStockBtn').click(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "post",
                    url: 'single-stock/addToPersonalStock',
                    data: {'stockCode': $('#stock_code').text().substring(3, 9), 'stockName': $('#stock_name').text()},
                    async: true,
                    cache: true,
                    success: (result) => {
                        if (result === 'SUCCESS') {
                            $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-success fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>添加自选股成功！</strong></div>');
                        } else if (result === 'SIGN_ERROR') {
                            $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请先登录之后再添加！</strong></div>');
                        } else if (result === 'DUPLICATED') {
                            $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>您已经添加过该股票，请勿重复添加！</strong></div>');
                        } else if (result === 'NOTEXSIT') {
                            $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>错误操作！股票不存在！</strong></div>');
                        }
                        window.setTimeout(function () {
                            $("#bottom-alert").alert("close");
                        }, 2000);
                    },
                    error: () => {
                        $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>出错啦，请稍后再试！</strong></div>');

                        window.setTimeout(function () {
                            $("#bottom-alert").alert("close");
                        }, 2000);
                    }
                });
            });
        });
    </script>
</head>
<body>

<% include Components/navigator.ejs %>

<br>
<div class="container">
    <!--搜索模块-->
    <div class="col-sm-10 col-sm-offset-1 jumbotron">
        <form id="stock_form" action="single-stock/search" method="post" name="search_for_stock">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" name="query" id="search_area" autocomplete="off"
                       placeholder="搜索个股..."
                       required>
                <span class="input-group-btn">
                <button id="searchButton" class="btn btn-default" type="submit">搜索</button>
            </span>
            </div>
        </form>
    </div>
</div>

<div class="page-container">

    <!--Recently Browsed-->
    <div class="col-md-2 center-block" style="padding-right: 0px;padding-left: 20px;">
        <div class="col-sm-12" style="height: 50px;"></div>

        <div>
            <ul class="nav nav-tabs nav-justified" id="left_side_tab">
                <li class="active" data-toggle="tooltip" data-placement="top" title="历史浏览记录"><a
                            href="#recent_stock_seg"><span class="glyphicon glyphicon-eye-open"
                                                           aria-hidden="true"></span></a></li>
                <li class data-toggle="tooltip" data-placement="top" title="当前热门股票"><a href="#hot_stock_seg"><span
                                class="glyphicon glyphicon-fire" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 tab-content">
            <div id="recent_stock_seg" class="tab-pane active">
                <table id="recent_stock_table" class="table table-hover" style="font-size: 13px">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>代码</th>
                    </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="hot_stock_seg" class="tab-pane">
                <table id="hot_stock_table" class="table table-hover" style="font-size: small">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>价格</th>
                        <th>涨跌幅</th>
                    </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $('#left_side_tab').find('a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $(document).ready(function () {
            $.get('single-stock/getHotStockList', (result) => {
                for (let i = 0; i < result.length; i++) {
                    let appendedStr = '<tr><th>' + result[i][0] + '</th><td>' + result[i][1] + '</td><td>' + result[i][2] + '%' + '</td></tr>';
                    $('#hot_stock_table > tbody').append(appendedStr);
                }
            });
        });
    </script>

    <!--Main Block Of Single Stock-->
    <div class="col-sm-8" id="stockSeg" style="display: block;">

        <!--Basic Infos of a stock-->
        <div class="col-sm-6" class="jumbotron">
            <div class="row">
                <!--Names-->
                <div class="col-sm-4 text-center" style="height: 102px;padding-left: 0px;padding-right: 0px">
                    <h1 id="stock_name" style="color: #337ab7;font-weight: bold;"></h1>
                    <h5 id="stock_code" style="color: #337ab7"></h5>
                </div>
                <!--Numbers-->
                <div class="col-sm-5" style="padding-left: 10px;padding-right: 0px">
                    <div class="row">
                        <div class="col-sm-5 text-right" style="height: 102px;padding-left: 10px;padding-right: 0px">
                            <h1 id="current_price" style="height: 102px;"></h1>
                        </div>
                        <div class="col-sm-3" style="padding-left: 7px;padding-right: 0px">
                            <h1>
                                <sapn id="imp_icon" class="fa fa-x fa-fw text-center"></sapn>
                            </h1>
                        </div>
                        <div class="col-sm-4 text-center" style="height: 102px;padding-left: 5px;padding-right: 10px;padding-top: 5px">
                            <h4 id="chg"></h4>
                            <h4 id="chg_p"></h4>
                        </div>
                    </div>
                </div>
                <!--Add to personal Button-->
                <div class="col-sm-3" style="padding-left: 15px;padding-right: 0px">
                    <div class="row">
                        <div class="col-sm-12 text-center"
                             style="height: 102px;padding-top:19px;  line-height: 10px;">
                            <button id="addToPersonalStockBtn" type="button" class="btn btn-primary btn-sm"
                                    style="height: 40px;">
                                <span class="fa fa-plus"></span> 加入自选股
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12" style="height: 20px;"></div>
        <!--Headers of All kinds of Charts-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs nav-justified" id="mainTab">
                <li class="active"><a id="firstTab" href="#timeSharing">分时</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#dailyKLine" role="button">
                        日K <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#no_daily">不复权</a></li>
                        <li><a href="#before_daily">前复权</a></li>
                        <li><a href="#after_daily">后复权</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#weeklyKLine" role="button">
                        周K <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#no_weekly">不复权</a></li>
                        <li><a href="#before_weekly">前复权</a></li>
                        <li><a href="#after_weekly">后复权</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#monthlyKLine" role="button">
                        月K <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#no_monthly">不复权</a></li>
                        <li><a href="#before_monthly">前复权</a></li>
                        <li><a href="#after_monthly">后复权</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-12" style="height: 20px;"></div>

        <!-- Echarts Modules All kinds of charts-->
        <div class="col-sm-12 tab-content">
            <div id="timeSharing" class="tab-pane active">
                <% include EChartsModule/timeSharingChart.ejs %>
            </div>
            <div id="dailyKLine" class="tab-pane">
                <% include EChartsModule/dailyKLineChart.ejs %>
            </div>
            <div id="weeklyKLine" class="tab-pane">
                <% include EChartsModule/weeklyKLineChart.ejs %>
            </div>
            <div id="monthlyKLine" class="tab-pane">
                <% include EChartsModule/monthlyKLIneChart.ejs %>
            </div>
        </div>

        <!--标签页监听-->
        <script>
            $('#mainTab > li > a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
                $(this).resize();
                if ($(this).attr('href') === '#timeSharing')
                    timeSharingChart.resize();
                if ($(this).attr('href') === '#dailyKLine') {
                    daily_KLineChart.resize();
                    daily_KDJChart.resize();
                }
                if ($(this).attr('href') === '#weeklyKLine') {
                    weekly_KLineChart.resize();
                    weekly_KDJChart.resize();
                }
                if ($(this).attr('href') === '#monthlyKLine') {
                    monthly_KLineChart.resize();
                    monthly_KDJChart.resize();
                }
            });
        </script>
        <script>
            $('li.dropdown').mouseover(function () {
                $(this).addClass('open');
            }).mouseout(function () {
                $(this).removeClass('open');
            });
        </script>
    </div>

    <!-- Right Side -->
    <div class="col-md-2 center-block" style="padding-right: 20px;padding-left: 0px;">
        <div class="col-sm-12" style="height: 50px;"></div>

        <div>
            <ul class="nav nav-tabs nav-justified" id="left_side_tab">
                <li class="active"><a href="#five_seg">五档</a></li>
                <li><a href="#industry_seg">行业</a></li>
                <li><a href="#block_seg">板块</a></li>
            </ul>
        </div>

        <div class="col-sm-12 tab-content">
            <div id="five_seg" class="tab-pane active">
                <table id="five_table" class="table" style="font-size: 13px">
                    <tbody>
                    <tr><th>卖五</th></tr>
                    <tr><th>卖四</th></tr>
                    <tr><th>卖三</th></tr>
                    <tr><th>卖二</th></tr>
                    <tr><th>卖一</th></tr>
                    <tr><th>买一</th></tr>
                    <tr><th>买二</th></tr>
                    <tr><th>买三</th></tr>
                    <tr><th>买四</th></tr>
                    <tr><th>买五</th></tr>
                    </tbody>
                </table>
            </div>
            <div id="industry_seg" class="tab-pane">
                <table id="industry_table" class="table table-hover" style="font-size: small">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="block_seg" class="tab-pane">
                <table id="block_table" class="table table-hover" style="font-size: small">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--scrollToTop按钮-->
    <a id="scrollTop" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>

    <% if(typeof stockCode !== "undefined") { %>
    <script type="text/javascript">
        $(document).ready(function () {
            getCharts('<%= stockCode %>');
        });
    </script>
    <% } %>
</div>

</body>

<% include Components/footer.ejs %>
</html>
