<!doctype html>
<html>
<head>
    <% include Components/settings.html %>
    <title>BUFF-个股</title>

    <!--echarts dependency-->
    <script src="/echarts/echarts.min.js"></script>

    <!--Jquery-UI-->
    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <script src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        let dataZoomLength = 60;
        function calculateMA(dayCount, adjDatas) {
            let result = [];
            let len = adjDatas.length;
            for (let i = 0; i < len; i++) {
                if (i < dayCount) {
                    result.push('-');
                    continue;
                }
                let sum = 0;
                for (let j = 0; j < dayCount; j++) {
                    sum += adjDatas[i - j];
                }
                result.push(sum / dayCount);
            }
            return result;
        }
        function getFullStockCode(stockCode) {
            let sub = stockCode.substring(0, 3);
            if (sub === '000' || sub === '200' || sub === '080')
                return 'sz' + stockCode;
            else
                return 'sh' + stockCode;
        }
        function getCharts(stockCode) {
            let fullStockCode = getFullStockCode(stockCode);

            $.ajax({
                url: 'http://hq.sinajs.cn/list=' + fullStockCode,
                dataType: "script",
                async: false,
                cache: true,
                success: () => {
                    let realTimeInfo = [];
                    eval('realTimeInfo = ' + 'hq_str_' + fullStockCode + '.split(",")');
                    console.log(realTimeInfo);
                    $('#stock_name').html(realTimeInfo[0]);
                    $('#stock_code').html('(' + fullStockCode + ')');
                    $('#current_price').text(Math.round(realTimeInfo[3] * 100) / 100);
                    $('#chg').html(Math.round((realTimeInfo[3] - realTimeInfo[2]) * 100) / 100);
                    $('#chg_p').html(Math.round((realTimeInfo[3] - realTimeInfo[2]) / realTimeInfo[2] * 10000) / 100 + '%');
                    if (realTimeInfo[3] - realTimeInfo[2] < 0) {
                        $("#current_price").css({color: "green"});
                        $("#chg").css({color: "green"});
                        $("#chg_p").css({color: "green"});
                        $("#imp_icon").addClass("fa-arrow-down");
                        $("#imp_icon").css({color: "green"});
                    } else {
                        $("#current_price").css({color: "red"});
                        $("#chg").css({color: "red"});
                        $("#chg_p").css({color: "red"});
                        $("#imp_icon").addClass("fa-arrow-up");
                        $("#imp_icon").css({color: "red"});
                    }
                }
            });

            $.ajax({
                type: "post",
                async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "single-stock/getDailyKLine", //请求发送到TestServlet处
                data: $("#stock_form").serialize(),
                dataType: "json", //返回数据形式为json
                beforeSend: function () {
                    $('#stockSeg').css('display', 'block');
                    $('firstTab').addClass('active');
                    $('dailyKLine').addClass('active');
                    $('#dailyKLineChart').resize();
                    daily_KLineChart.resize();
                    daily_KDJChart.resize();
                    daily_KLineChart.showLoading();
                    daily_KDJChart.showLoading();
                },
                success: function (result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        daily_KLineChart.hideLoading();
                        daily_KDJChart.hideLoading();
                        loadDailyKLineChart(result);
                    }
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请求日K数据失败，请稍后再试！</strong></div>');

                    window.setTimeout(function () {
                        $("#bottom-alert").alert("close");
                    }, 2000);
                }
            })

            $.ajax({
                type: "post",
                async: true,
                url: "single-stock/getWeeklyKLine",
                data: $("#stock_form").serialize(),
                dataType: "json", //返回数据形式为json
                beforeSend: function (XHR) {
                    weekly_KLineChart.resize();
                    weekly_KLineChart.showLoading();
                },
                success: function (result) {
                    if (result) {
                        weekly_KLineChart.hideLoading();
                        loadWeeklyKLineChart(result);
                    }
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请求周K数据失败，请稍后再试！</strong></div>');

                    window.setTimeout(function () {
                        $("#bottom-alert").alert("close");
                    }, 2000);
                }
            })

            $.ajax({
                type: "post",
                async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "single-stock/getMonthlyKLine", //请求发送到TestServlet处
                data: $("#stock_form").serialize(),
                dataType: "json", //返回数据形式为json
                beforeSend: function (XHR) {
                    monthly_KLineChart.showLoading();
                },
                success: function (result) {
                    if (result) {
                        monthly_KLineChart.hideLoading();
                        loadMonthlyKLineChart(result);
                    }
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请求月K数据失败，请稍后再试！</strong></div>');

                    window.setTimeout(function () {
                        $("#bottom-alert").alert("close");
                    }, 2000);
                }
            })
        }
    </script>
    <script type="text/javascript">
        $.widget("ui.autocomplete", $.ui.autocomplete, {
            options: {
                maxItems: 9999
            },
            _renderMenu: function (ul, items) {
                let that = this,
                    count = 0;
                $.each(items, function (index, item) {
                    if (count < that.options.maxItems) {
                        that._renderItemData(ul, item);
                    }
                    count++;
                });
            }
        });

        $(document).ready(function () {
            let stockList = [];
            $.get('single-stock/getAllStockList', (result) => {
                stockList = result;
                $('#search_area').autocomplete({
                    autoFocus: true,
                    maxItems: 8,
                    source: stockList
                });
            });

            $("#stock_form").submit(function (e) {
                e.preventDefault();

                let query = $('#search_area').val();
                if ($.inArray(query, stockList) < 0) {
                    $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>输入格式不正确！请在下拉框中选择一项输入</strong></div>');

                    window.setTimeout(function () {
                        $("#bottom-alert").alert("close");
                    }, 2000);

                    return;
                }

                let re = /([0-9]+)\((.*)\)/;
                let result = re.exec(query);
                let stockCode = result[1];

                getCharts(stockCode);
            });

            $('#addToPersonalStockBtn').click(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "post",
                    url: 'single-stock/addToPersonalStock',
                    data: {'stockCode': $('#stock_code').text().substring(3, 9), 'stockName': $('#stock_name').text()},
                    async: true,
                    cache: true,
                    success: (result) => {
                        if(result === 'SUCCESS') {
                            $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-success fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>添加自选股成功！</strong></div>');
                        } else if (result === 'SIGN_ERROR') {
                            $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>请先登录之后再添加！</strong></div>');
                        } else if (result === 'DUPLICATED') {
                            $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>您已经添加过该股票，请勿重复添加！</strong></div>');
                        } else if (result === 'NOTEXIST') {
                            $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>错误操作！股票不存在！</strong></div>');
                        }
                        window.setTimeout(function () {
                            $("#bottom-alert").alert("close");
                        }, 2000);
                    },
                    error: () => {
                        $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>出错啦，请稍后再试！</strong></div>');

                        window.setTimeout(function () {
                            $("#bottom-alert").alert("close");
                        }, 2000);
                    }
                });
            });

        });
    </script>
</head>
<body>

<% include Components/navigator.ejs %>

<br>
<div class="container">
    <!--搜索模块-->
    <div class="col-md-10 col-md-offset-1 jumbotron">
        <form id="stock_form" action="single-stock/search" method="post" name="search_for_stock">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" name="query" id="search_area" autocomplete="off" placeholder="搜索个股..."
                       required>
                <span class="input-group-btn">
                <button id="searchButton" class="btn btn-default" type="submit">搜索</button>
            </span>
            </div>
        </form>
    </div>


    <div id="stockSeg" style="display: none;">

        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-4 text-center" style="height: 102px;">
                    <h1 id="stock_name" class="display-3" style="color: #337ab7;font-weight: bold"></h1>
                    <h4 id="stock_code" style="color: #337ab7"></h4>
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-5 text-right" style="height: 102px;">
                            <h1 id="current_price" class="display-1" style="height: 102px;"></h1>
                        </div>
                        <div class="col-sm-3">
                            <h1 class="display-1">
                                <sapn id="imp_icon" class="fa fa-x fa-fw text-center"></sapn>
                            </h1>
                        </div>
                        <div class="col-sm-4 text-left" style="height: 102px;">
                            <h3 id="chg"></h3>
                            <h3 id="chg_p"></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 text-center"
                             style="height: 102px;padding-top:16px;  line-height: 25px;">
                            <button id="addToPersonalStockBtn" type="button" class="btn btn-primary btn-lg" style="height: 60px;">
                                <span class="fa fa-plus"></span> 加入自选股
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12" style="height: 20px;"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <ul class="nav nav-tabs nav-justified" id="mainTab">
                <!--<li class="active"><a href="#timeSharing">分时</a></li>-->
                <li id="firstTab" class="active"><a href="#dailyKLine">日K</a></li>
                <li><a href="#weeklyKLine">周K</a></li>
                <li><a href="#monthlyKLine">月K</a></li>
            </ul>
        </div>
        <div class="col-sm-12" style="height: 20px;"></div>

        <!--Echarts Modules-->
        <div class="col-sm-12 tab-content">
            <!--<div id="timeSharing" class="tab-pane"></div>-->
            <div id="dailyKLine" class="tab-pane active">
                <% include EChartsModule/dailyKLineChart.ejs %>
            </div>
            <div id="weeklyKLine" class="tab-pane">
                <% include EChartsModule/weeklyKLineChart.ejs %>
            </div>
            <div id="monthlyKLine" class="tab-pane">
                <% include EChartsModule/monthlyKLIneChart.ejs %>
            </div>
        </div>

        <script>
            $('#mainTab').find('a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
                $(this).resize();
                if ($(this).attr('href') === '#timeSharing')
                    timeSharingChart.resize();
                if ($(this).attr('href') === '#dailyKLine') {
                    daily_KLineChart.resize();
                    daily_KDJChart.resize();
                }
                if ($(this).attr('href') === '#weeklyKLine') {
                    weekly_KLineChart.resize();
                    weekly_KDJChart.resize();
                }
                if ($(this).attr('href') === '#monthlyKLine') {
                    monthly_KLineChart.resize();
                    monthly_KDJChart.resize();
                }
            });
        </script>
    </div>
    <!--scrollToTop按钮-->
    <a id="scrollTop" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>

    <% if(typeof stockCode !== "undefined") { %>
    <script type="text/javascript">
        $(document).ready(function () {
            getCharts('<%= stockCode %>');
        });
    </script>
    <% } %>
</div>

</body>

<% include Components/footer.ejs %>
</html>
