<!doctype html>
<html>
<head>
    <% include Components/settings.html %>
    <title>Single-Stock</title>

    <!--echarts dependency-->
    <script src="/echarts/echarts.js"></script>
</head>
<body>

<% include Components/navigator.ejs %>

<br>
<div class="container">
    <div class="jumbotron">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="搜索个股...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">搜索</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <!--Echarts Module-->
    <div class="jumbotron">
        <div id="fakeChart" class="center-block" style="width: 80%; height: 500%"></div>
        <script src="/echarts/fakeChart.js"></script>
    </div>


    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>
</div>

</body>

<% include Components/footer.ejs %>
</html>
