<!doctype html>
<html>
<head>
    <% include ../Components/settings.html %>
    <title>BUFF-两股对比</title>
</head>
<body>
<div class="page-container">

    <% include ../Components/navigator.ejs %>

    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>

</div>
</body>

<% include ../Components/footer.ejs %>
</html>
