<!doctype html>
<html>
<head>
    <% include ../Components/settings.html %>
    <title>BUFF-量化回测</title>
</head>
<body>
<div class="page-container">
    <% include ../Components/navigator.ejs %>

    <div class="bloc bgc-white l-bloc" id="bloc-1">
        <div class="container bloc-lg container-fluid">
            <div class="section-container home-section-wrap clearfix row">
                <div class="col-md-3 col-sm-6" style="display: inline">
                    <span >股票池：</span>
                    <select class="form-control" style="max-width: 120px;display: inline-flex" id="stock-pool">
                        <option selected="selected">沪深300</option>
                        <option >随机500</option>
                        <option >沪深A股</option>
                        <option >中小板</option>
                        <option >创业板</option>
                        <option >自选股票池</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span style="padding-right: 14px;">行业：</span>
                    <div class="dropdown" style="display: inline;">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu_industries" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu_industries" id="industries">
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span style="padding-right: 14px;">板块：</span>
                    <div class="dropdown" style="display: inline;">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu_boards" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu_industries" id="boards">
                        </ul>
                    </div>
                </div>
                <div class="col-md-3" col-sm-6 style="display: inline;margin-top: 5px;">
                    <span>排除ST</span>
                    <div class="switch" style="display: inline-flex;margin-left: 10px;">
                        <input id="exclude-ST" class="cmn-toggle cmn-toggle-round" type="checkbox" checked="checked" onclick="$(this).val($(this).val()==='on'? 'off':'on')">
                        <label for="exclude-ST"></label>
                    </div>
                </div>
                <!--<button type="submit" class="btn btn-info btn-clean animated" id="plate" >-->
                <!--板块-->
                <!--</button>-->
                <!--<button type="submit" class="btn btn-info btn-clean animated" id="industry" >-->
                <!--行业-->
                <!--</button>-->
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-12 section-container home-section-wrap clearfix">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#filter-options" aria-controls="filter-options" role="tab"
                               data-toggle="tab">筛选指标</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active " id="filter-options">
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-volume" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                成交量
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-marketValue" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                市值
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-turnOverRate" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                换手率
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-close" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                收盘价
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-low" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                最低价
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-high" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                最高价
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-floatMarketValue" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                流通市值
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-open" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                开盘价
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-changeRate" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                涨幅
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-adjClose" style="min-width: 100px"
                                    onclick="addFilterConditon($(this).text())">
                                复权收盘价
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-push-1 col-xs-12 section-container home-section-wrap clearfix">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#bace-strategy" aria-controls="bace-strategy" role="tab" data-toggle="tab">基础策略</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active " id="filter-options">
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MA" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                MA
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MOM" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                MOM
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-RSI" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                RSI
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MACD_DIF" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                MACD_DIF
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MACD_DEA" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                MACD_DEA
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MACD" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                MACD
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-RSV" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                RSV
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-KDJ_K" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                KDJ_K
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-KDJ_D" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                KDJ_D
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-KDJ_J" style="min-width: 100px"
                                    onclick="addRankingConditon($(this).text())">
                                KDJ_J
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-12 section-container home-section-wrap clearfix">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#filter-conditons" aria-controls="filter-conditons" role="tab" data-toggle="tab">筛选条件</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active " id="filter-conditons">
                            <table class="table table-hover" id="filter-conditon-table">
                                <thead>
                                <tr>
                                    <th>指标</th>
                                    <th>比较符</th>
                                    <th>值</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="filter-conditon-lines">
                                <!--<tr>-->
                                    <!--<td scope="row">换手率</td>-->
                                    <!--<td>-->
                                        <!--<select id="turnOverRate_cmp" class="form-control" style="max-width: 120px">-->
                                            <!--<option value="<" selected="selected">小于</option>-->
                                            <!--<option value=">">大于</option>-->
                                        <!--</select>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input id="turnOverRate_val" style="max-width: 100px"/>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<a type="button">-->
                                            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-push-1 col-xs-12 section-container home-section-wrap clearfix">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#ranking-conditons" aria-controls="ranking-conditons" role="tab" data-toggle="tab">排名条件</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content table-condensed">
                        <div role="tabpanel" class="tab-pane fade in active " id="ranking-conditons">
                            <table class="table table-hover" id="ranking-conditon-table">
                                <thead>
                                <tr>
                                    <th>指标</th>
                                    <th>次序</th>
                                    <th>观望期</th>
                                    <th>权重</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr>-->
                                    <!--<td scope="row">MA</td>-->
                                    <!--<td>-->
                                        <!--<select class="form-control" id="ma_ranking_rule" style="max-width: 120px">-->
                                            <!--<option value="asc" selected="selected">从小到大</option>-->
                                            <!--<option value="desc">从大到小</option>-->
                                        <!--</select>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input id="ma_waiting_period" style="max-width: 50px"/>-->
                                        <!--天-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input id="ma_weight" style="max-width: 50px"/>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<a type="button">-->
                                            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td scope="row">MOM</td>-->
                                    <!--<td>-->
                                        <!--<select id="mom_ranking_rule" class="form-control" style="max-width: 120px">-->
                                            <!--<option value="asc" selected="selected">从小到大</option>-->
                                            <!--<option value="desc">从大到小</option>-->
                                        <!--</select>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input id="mom_waiting_period" style="max-width: 50px"/>-->
                                        <!--天-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input id="mom_weight" style="max-width: 50px"/>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<a type="button">-->
                                            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container home-section-wrap clearfix">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#trade-modules" aria-controls="trade-modules" role="tab" data-toggle="tab">交易模型</a>
                    </li>
                </ul>
                <div class="tab-content table-condensed">
                    <div role="tabpanel" class="tab-pane fade in active" style="padding-top: 20px" id="trade-modules">
                    </div>
                </div>
                <div>
                    <div id="time-box" style="padding-left: 10px;padding-right: 50px;display: inline-block;">
                        <div class="input-group date form_date_start" data-date="" data-date-format="yyyy/mm/dd"
                             data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" required="required" value="2007/01/17"
                                   pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" id="date-from" onchange="date_from_change()">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <span class="date-txt between"> - </span>
                        <div class="input-group date form_date_end" data-date="" data-date-format="yyyy/mm/dd"
                             data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" required="required" value="2007/01/17"
                                   pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" id="date-to" onchange="date_to_change()">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <script type="text/javascript">
                        //显示日期选择器
                        $("#time-box .form_date_start").datetimepicker({
                            language: "zh-CN",
                            pickerPosition: "top-right",
                            weekStart: 0,
                            autoclose: 1,
                            todayHighlight: 1,
                            startView: 2,
                            minView: 2,
                            startDate: "2007-01-04",
                            daysOfWeekDisabled: [6, 0],
                            forceParse: 0
                        }).data("datetimepicker");
                        $("#time-box .form_date_end").datetimepicker({
                            language: "zh-CN",
                            pickerPosition: "top-right",
                            weekStart: 0,
                            autoclose: 1,
                            todayHighlight: 1,
                            startView: 2,
                            minView: 2,
                            startDate: "2007-01-04",
                            daysOfWeekDisabled: [6, 0],
                            forceParse: 0
                        }).data("datetimepicker");
                    </script>
                </div>
                <div class="container-fluid">
                    <div style="padding-left: 10px;padding-right: 50px;display: inline-block">
                        市场观察期：
                        <input style="max-width: 50px;" required="required" value="3" pattern="[0-9]{1,}" id="market-observe" onchange="number_validate(this,1,60)"/>
                        天
                    </div>
                    <div style="padding-left: 10px;padding-right: 50px;display: inline-block">
                        持仓期：
                        <input style="max-width: 50px;margin-left: 28px;" required="required" value="3" pattern="[0-9]{1,}" id="reserve-days" onchange="number_validate(this,1,60)"/>
                        天
                    </div>
                    <div style="padding-left: 10px;padding-right: 50px;display: inline-block">
                        持股数：
                        <input style="max-width: 50px;margin-left: 28px;" required="required" value="3" pattern="[0-9]{1,}" id="number-of-stock" onchange="number_validate(this,1,60)"/>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-clean animated" onclick="start()">
                    开始回测
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let option="<li>                                                                             \
                        <a class=\"active\"                                                                     \
                            <input type=\"checkbox\" autocomplete=\"off\" checked>                         \
                            <span>a</span>                                                                      \
                        </a>                                                                                     \
                 </li>";
    $(document).ready(function () {
        $.ajax({
            type: "get",
            async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url: "chmap", //请求发送到TestServlet处
            dataType: "json", //返回数据形式为json
            success: (result) => {
                chmap=result;
            },
        });
        $.ajax({
            type: "get",
            async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url: "allIndustries", //请求发送到TestServlet处
            success: (result) => {
                allIndustries=result.split(",");
                for(let i=0;i< allIndustries.length;i++){
                    $("#industries").append(option);
                    $("#industries li:last a:first span").text(allIndustries[i]);
                }
            },
            error: function(request, err){
                console.error(err);
            },
        });
        $.ajax({
            type: "get",
            async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url: "allBoards", //请求发送到TestServlet处
            success: (result) => {
                allBoards=result.split(",");
                for(let i=0;i< allBoards.length;i++){
                    $("#boards").append(option);
                    $("#boards li:last a:first span").text(allBoards[i]);
                }
            },
            error: function(request, err){
                console.error(err);
            },
        });
    });

    function date_from_change(){
        if(/^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/.test($("#date-from").val()) && $("#date-from").val()<=$("#date-to").val()){
            $("#date-from").css("background-color","white");
        }else {
            $("#date-from").val($("#date-to").val());
            $("#date-from").css("background-color","#FFFFCC");
        }
    }
    function date_to_change(){
        if(/^[0-9]{4}\/[0-9]{2}\/[0-9]{2}$/.test($("#date-to").val()) && $("#date-from").val()<=$("#date-to").val()){
            $("#date-to").css("background-color","white");
        }else {
            $("#date-to").val($("#date-from").val());
            $("#date-to").css("background-color","#FFFFCC");
        }
    }
    function number_validate(obj, lowval, hival){
        if(/^[0-9]{1,}$/.test($(obj).val()) && (($(obj).val() >= lowval) && ($(obj).val() <= hival))){
            $(obj).css("background-color","white");
        }else {
            $(obj).val(3);
            $(obj).css("background-color","#FFFFCC");
        }
    }

    function addFilterConditon(name) {
        let newRow="<tr>                                                                                \
            <td scope=\"row\"></td>                                                              \
            <td>                                                                                      \
                <select class=\"form-control\" style=\"max-width: 120px\">                          \
                    <option value=\"<\" selected=\"selected\">小于</option>                                \
                    <option value=\">\">大于</option>                                                         \
                </select>                                                                               \
            </td>                                                                                   \
            <td>                                                                                   \
                <input style=\"max-width: 100px\" required=\"required\" value=\"3\"                  \
                pattern=\"-{0,1}[0-9]{1,}\" onchange=\"number_validate(this,0,Infinity)\"/>           \
            </td>                                                                                   \
            <td>                                                                                   \
                <a type=\"button\" onclick='$(this).parent().parent().remove()'>                \
                    <span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span>      \
                </a>                                                                                   \
            </td>                                                                                   \
        </tr>";
        $("#filter-conditon-table tr:last").after(newRow);
        $("#filter-conditon-table tr:last td:first").text(name);
        $("#filter-conditon-table tr:last td:first").val(chmap[name.trim()]);
        if(name.search("幅|率")>-1){
            $("#filter-conditon-table tr:last td:eq(2)").children().first().get(0).onchange=function(){
                if(/^-{0,1}[0-9]{1,}$/.test($(this).val()) && (($(this).val() >= -100) && ($(this).val() <= 100))){
                    $(this).css("background-color","white");
                }else {
                    $(this).val(3);
                    $(this).css("background-color","#FFFFCC");
                }
            };
            $("#filter-conditon-table tr:last td:eq(2)").append("<span>%</span>");
        }
    }
    function addRankingConditon(name) {
        let newRow="<tr>                                                                                \
            <td scope=\"row\"></td>                                                              \
            <td>                                                                                      \
                <select class=\"form-control\" style=\"max-width: 120px\">                          \
                    <option value=\"asd\" selected=\"selected\">从小到大</option>                                \
                    <option value=\"des\">从大到小</option>                                                         \
                </select>                                                                               \
            </td>                                                                                   \
            <td>                                                                                   \
                <input style=\"max-width: 50px\" required=\"required\" value=\"3\"             \
                pattern=\"[0-9]{1,}\" onchange=\"number_validate(this,0,60)\"/>                 \
                <span>天</span>                                                                      \
            </td>                                                                                   \
            <td>                                                                                    \
                <input style=\"max-width: 50px\" required=\"required\" value=\"1\"                  \
                pattern=\"[0-9]{1,}\" onchange=\"number_validate(this,0,Infinity)\"/>           \
            </td>                                                                                    \
            <td>                                                                                   \
                <a type=\"button\" onclick='$(this).parent().parent().remove()'>                \
                    <span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span>      \
                </a>                                                                                   \
            </td>                                                                                   \
        </tr>";
        $("#ranking-conditon-table tr:last").after(newRow);
        $("#ranking-conditon-table tr:last td:first").text(name);
        $("#ranking-conditon-table tr:last td:first").val(name.trim());
    }

    function standardPost(url, args) {
        let form = $("<form method='post'></form>");
        form.attr({"action": url});
        for (let arg in args) {
            let input = $("<input type='hidden'>");
            input.attr({"name": arg});
            input.val(args[arg]);
            form.append(input);
        }

        $(document.body).append(form);
        form.submit();
    }

    function start() {
        let rank = {};
        let rank_rows=$("#ranking-conditon-table tr:gt(0)");
        for(let i=0;i<rank_rows.length;i++){
            let name=$(rank_rows.get(i).cells.item(0)).val();
            rank[name]=[$(rank_rows.get(i).cells.item(1)).children().val(),
                Number($(rank_rows.get(i).cells.item(2)).children().val()),
                Number($(rank_rows.get(i).cells.item(3)).children().val())];
        }

        let filter = {};
        let filter_rows=$("#filter-conditon-table tr:gt(0)");
        for(let i=0;i<filter_rows.length;i++){
            let name=$(filter_rows.get(i).cells.item(0)).val();
            filter[name]=[$(filter_rows.get(i).cells.item(1)).children().val(),
                Number($(filter_rows.get(i).cells.item(2)).children().val())];
        }
        let industries=new Array();
        for(let i=0;i< $("#industries li a input:checkbox:checked").length;i++){
            industries[i]=$("#industries li a input:checkbox:checked").eq(i).parent().text().trim();
        }
        let benches=new Array();
        for(let i=0;i< $("#boards li a input:checkbox:checked").length;i++){
            benches[i]=$("#boards li a input:checkbox:checked").eq(i).parent().text().trim();
        }

        let data = {
            beginDate: $("#date-from").val(),
            endDate: $("#date-to").val(),
            stockPool: $("#stock-pool").find("option:selected").text(),
            benches: benches,
            industries: industries,
            excludeST: $("#exclude-ST").val(),
            rank: JSON.stringify(rank),
            filter: JSON.stringify(filter),
            reserveDays: $("#reserve-days").val(),
            numberOfStock: $("#number-of-stock").val(),
            marketObserve: $("#market-observe").val()
        };
        standardPost('result', data);
    }
</script>
</body>

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
            class="fa fa-chevron-up"></span></a>

<% include ../Components/footer.ejs %>
</html>
