<!doctype html>
<html>
<head>
    <% include ../Components/settings.html %>
    <title>BUFF-量化回测</title>
</head>
<body>
<div class="page-container">

    <% include ../Components/navigator.ejs %>

    <p class="text-center">ssss</p>
    <button type="submit"
            class="btn-success bloc-button btn flipInY btn-lg btn-block btn-clean shake-hvr animated btn-black"
            id="signInButton">
        登陆
    </button>

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>

</div>
</body>

<% include ../Components/footer.ejs %>
</html>
