<!doctype html>
<html>
<head>
    <% include ../Components/settings.html %>
    <title>BUFF-量化回测</title>
</head>
<body>
<div class="page-container">
    <% include ../Components/navigator.ejs %>

    <div class="bloc bgc-white l-bloc" id="bloc-1">
        <div class="container bloc-lg container-fluid">
            <div class="section-container home-section-wrap clearfix">
                <span>股票池：</span>
                <select class="form-control" style="max-width: 120px;display: inline" id="stock-pool">
                    <option selected="selected">沪深300</option>
                    <option >中小板</option>
                    <option >创业板</option>
                    <option >自定义</option>
                </select>
                排除ST
                <div class="switch" style="display: inline-block">
                    <input id="exclude-ST" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-1"></label>
                </div>
                <!--<button type="submit" class="btn btn-info btn-clean animated" id="plate" >-->
                <!--板块-->
                <!--</button>-->
                <!--<button type="submit" class="btn btn-info btn-clean animated" id="industry" >-->
                <!--行业-->
                <!--</button>-->
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-12 section-container home-section-wrap clearfix">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#filter-options" aria-controls="filter-options" role="tab"
                               data-toggle="tab">筛选指标</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active " id="filter-options">
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-code"
                                    onclick="addFilterConditon($(this).text())">
                                股票代码
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-volume"
                                    onclick="addFilterConditon($(this).text())">
                                成交量
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-marketValue"
                                    onclick="addFilterConditon($(this).text())">
                                市值
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-turnOverRate"
                                    onclick="addFilterConditon($(this).text())">
                                换手率
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-close"
                                    onclick="addFilterConditon($(this).text())">
                                收盘价
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-low"
                                    onclick="addFilterConditon($(this).text())">
                                最低价
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-high"
                                    onclick="addFilterConditon($(this).text())">
                                最高价
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-floatMarketValue"
                                    onclick="addFilterConditon($(this).text())">
                                流通市值
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-open"
                                    onclick="addFilterConditon($(this).text())">
                                开盘价
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-changeRate"
                                    onclick="addFilterConditon($(this).text())">
                                涨幅
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-open"
                                    onclick="addFilterConditon($(this).text())">
                                开盘价
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="stock-adjClose"
                                    onclick="addFilterConditon($(this).text())">
                                复权收盘价
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 section-container home-section-wrap clearfix">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#bace-strategy" aria-controls="bace-strategy" role="tab" data-toggle="tab">基础策略</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active " id="filter-options">
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MA">
                                MA
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MOM">
                                MOM
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-RSI">
                                RSI
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MACD_DIF">
                                MACD_DIF
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MACD_DEA">
                                MACD_DEA
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-MACD">
                                MACD
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-RSV">
                                RSV
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-KDJ_K">
                                KDJ_K
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-KDJ_D">
                                KDJ_D
                            </button>
                            <button type="submit" class="btn btn-primary btn-clean animated" id="strategy-KDJ_J">
                                KDJ_J
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-12 section-container home-section-wrap clearfix">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#filter-conditons" aria-controls="filter-conditons" role="tab" data-toggle="tab">筛选条件</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active " id="filter-conditons">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>指标</th>
                                    <th>比较符</th>
                                    <th>值</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td scope="row">换手率</td>
                                    <td>
                                        <select id="turnOverRate_cmp" class="form-control" style="max-width: 120px">
                                            <option value="<" selected="selected">小于</option>
                                            <option value=">">大于</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input id="turnOverRate_val" style="max-width: 100px"/>
                                    </td>
                                    <td>
                                        <a type="button">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 section-container home-section-wrap clearfix">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#ranking-conditons" aria-controls="ranking-conditons" role="tab" data-toggle="tab">排名条件</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content table-condensed">
                        <div role="tabpanel" class="tab-pane fade in active " id="ranking-conditons">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>指标</th>
                                    <th>次序</th>
                                    <th>观望期</th>
                                    <th>权重</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="ranking-conditon-line">
                                <tr>
                                    <td scope="row">MA</td>
                                    <td>
                                        <select class="form-control" id="ma_ranking_rule" style="max-width: 120px">
                                            <option value="asc" selected="selected">从小到大</option>
                                            <option value="desc">从大到小</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input id="ma_waiting_period" style="max-width: 50px"/>
                                        天
                                    </td>
                                    <td>
                                        <input id="ma_weight" style="max-width: 50px"/>
                                    </td>
                                    <td>
                                        <a type="button">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">MOM</td>
                                    <td>
                                        <select id="mom_ranking_rule" class="form-control" style="max-width: 120px">
                                            <option value="asc" selected="selected">从小到大</option>
                                            <option value="desc">从大到小</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input id="mom_waiting_period" style="max-width: 50px"/>
                                        天
                                    </td>
                                    <td>
                                        <input id="mom_weight" style="max-width: 50px"/>
                                    </td>
                                    <td>
                                        <a type="button">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container home-section-wrap clearfix">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#trade-modules" aria-controls="trade-modules" role="tab" data-toggle="tab">交易模型</a>
                    </li>
                </ul>
                <div class="tab-content table-condensed">
                    <div role="tabpanel" class="tab-pane fade in active" style="padding-top: 20px" id="trade-modules">
                    </div>
                </div>
                <div>
                    <div style="padding-left: 10px;padding-right: 50px;">
                        <div class="input-group date form_date_start" data-date="" data-date-format="yyyy/mm/dd"
                             data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input id="date-from" class="form-control" size="16" type="text" value="2015-01-01">
                            <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span class="date-txt between"> - </span>
                        <div class="input-group date form_date_end" data-date="" data-date-format="yyyy/mm/dd"
                             data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input id="date-to" class="form-control" size="16" type="text" value="2017-05-17">
                            <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div style="padding-left: 10px;padding-right: 50px;display: inline-block">

                    </div>
                </div>
                <div style="padding-left: 10px;padding-right: 50px;display: inline-block">
                    市场观察期：
                    <input style="max-width: 50px;" id="market-observe"/>
                    天
                </div>
                <div style="padding-left: 10px;padding-right: 50px;display: inline-block">
                    持仓期：
                    <input style="max-width: 50px;" id="reserve-days"/>
                    天
                </div>
                <div style="padding-left: 10px;padding-right: 50px;display: inline-block">
                    持股数：
                    <input style="max-width: 50px;" id="number-of-stock"/>
                </div>
            </div>
            <div class="row text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-clean animated" onclick="start()">
                    开始回测
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function standardPost(url, args) {
        let form = $("<form method='post'></form>");
        form.attr({"action": url});
        for (let arg in args) {
            let input = $("<input type='hidden'>");
            input.attr({"name": arg});
            input.val(args[arg]);
            form.append(input);
        }

        $(document.body).append(form);
        form.submit();
    }

    function addFilterConditon(name) {
        console.log(name);
        $("#filter-conditon-lines").append();
    }
    function addRankingConditon(name) {

    }
    function start() {
        let data = {
            beginDate: $("#date-from").val(),
            endDate: $("#date-to").val(),
            stockPool: $("#stock-pool").find("option:selected").text(),
            excludeST: $("#exclude-ST").val(),
            turnOverRateCmpChar:   $('#turnOverRate_cmp').val(),
            turnOverRateVal: $('#turnOverRate_val').val(),
            maRanking: $("#ma_ranking_rule").val(),
            maWaiting: $("#ma_waiting_period").val(),
            maWeight:  $("#ma_weight").val(),
            momRanking: $("#mom_ranking_rule").val(),
            momWaiting: $("#mom_waiting_period").val(),
            momWeight:  $("#mom_weight").val(),
            reserveDays: $("#reserve-days").val(),
            numberOfStock: $("#number-of-stock").val(),
            marketObserve: $("#market-observe").val()
        };
        standardPost('result', data);
    }
</script>
</body>

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
            class="fa fa-chevron-up"></span></a>

<% include ../Components/footer.ejs %>
</html>
