<!doctype html>
<html>
<head>
    <% include ../Components/settings.html %>
    <title>BUFF-量化回测</title>
</head>
<body>
<div class="page-container">

    <% include ../Components/navigator.ejs %>

    <div class="center-block text-center" style="max-width: 500px;">
        <button type="submit"
                class="btn btn-primary btn-lg btn-block flipInY btn-clean shake-hvr animated"
                id="quickAnalysis" >
            快速回测（推荐）
        </button>
        <button type="submit"
                class="btn btn-primary btn-lg btn-block flipInY btn-clean shake-hvr animated"
                id="predefinedAnalysis" >
            预定义回测
        </button>
        <button type="submit"
                class="btn btn-primary btn-lg btn-block flipInY btn-clean shake-hvr animated"
                id="customAnalysis" >
            自定义回测
        </button>
    </div>

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>

</div>
</body>

<% include ../Components/footer.ejs %>
</html>
