<!doctype html>
<html>
<head>
    <% include ../Components/settings.html %>
    <title>BUFF-量化回测</title>
</head>
<body>
<div class="page-container bloc-fill-screen">

    <% include ../Components/navigator.ejs %>

    <div class="center-block text-center" id="page" style="max-width: 500px;">
        <button type="submit"
                class="btn btn-primary btn-lg btn-block flipInY btn-clean shake-hvr animated"
                id="quickAnalysis" >
            快速回测（推荐）
        </button>
        <button type="submit"
                class="btn btn-primary btn-lg btn-block flipInY btn-clean shake-hvr animated"
                id="predefinedAnalysis" >
            预定义回测
        </button>
        <button type="submit"
                class="btn btn-primary btn-lg btn-block flipInY btn-clean shake-hvr animated"
                id="customAnalysis" >
            自定义回测
        </button>

        <div class="bloc bgc-white l-bloc">
            <div class="container bloc-lg">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../img/3.jpg" class="img-responsive"/>
                        <h3 class="mg-md">
                            快速回测（推荐）
                        </h3>
                    </div>
                    <div class="col-sm-4">
                        <img src="../img/2.jpg" class="img-responsive"/>
                        <h3 class="mg-md">
                            预定义回测
                        </h3>
                    </div>
                    <div class="col-sm-4">
                        <img src="../img/1.jpg" class="img-responsive"/>
                        <h3 class="mg-md">
                            自定义回测
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $("#quickAnalysis").click(function (){
                $("#page").empty();
                $.ajax('/user/quantitative-analysis/result',{
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        console.log(result);
                        $("#page").append(result);
                    },
                    error: function (errorMsg) {
                        //请求失败时执行该函数
                        alert(errorMsg);
                    }
                });
            });
            $("#predefinedAnalysis").click(function (){
                $("#page").empty();
                $.ajax('/user/quantitative-analysis/result',{
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        console.log(result);
                        $("#page").append(result);
                    },
                    error: function (errorMsg) {
                        //请求失败时执行该函数
                        alert(errorMsg);
                    }
                });
            });
            $("#customAnalysis").click(function (){
                alert("尚未完成");
            });
        </script>
    </div>

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>

    <% include ../Components/footer.ejs %>
</div>
</body>

</html>
