<!doctype html>
<html>
<head>
    <% include ../Components/settings.html %>
    <title>BUFF-股票推荐</title>
</head>
<body>
<div class="page-container">
    <% include ../Components/navigator.ejs %>
    <div class="bloc bgc-white l-bloc" id="bloc-0">
        <div class="container bloc-lg">
            <div class="row ">
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h2 class="mg-clear text-center tc-black">
                                热门板块
                            </h2>
                        </div>
                        <div class="panel-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active ">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>板块名称</th>
                                            <th>平均现价</th>
                                            <th>涨跌幅</th>
                                        </tr>
                                        </thead>
                                        <tbody id="hot-board-list">
<<<<<<< Updated upstream

=======
                                        <tr>
                                            <td><%= Object.keys(hotBoard)[0] %></td>
                                            <td><%= hotBoard[Object.keys(hotBoard)[0]][0] %></td>
                                            <td><%= hotBoard[Object.keys(hotBoard)[0]][1] %>%</td>
                                        </tr>
>>>>>>> Stashed changes
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h2 class="mg-clear text-center tc-black">
                                热门股票
                            </h2>
                        </div>
                        <div class="panel-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active ">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>股票名称</th>
                                            <th>现价</th>
                                            <th>涨跌幅</th>
                                        </tr>
                                        </thead>
                                        <tbody id="hot-stocks-list">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h2 class="mg-clear text-center tc-black">
                                推荐股票
                            </h2>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <a href="index.html" class="btn btn-lg btn-block btn-black">N泰安</a>
                            </div>
                            <div class="text-center">
                                <a href="index.html" class="btn btn-lg btn-block btn-black">N海鸥</a>
                            </div>
                            <div class="text-center">
                                <a href="index.html" class="btn btn-lg btn-block btn-black">庞大集团</a>
                            </div>
                            <div class="text-center">
                                <a href="index.html" class="btn btn-d btn-lg btn-block">安科控股</a>
                            </div>
                            <div class="text-center">
                                <a href="index.html" class="btn btn-d btn-lg btn-block">北京科悦<span class="special-tag-for-editing-text-with-html"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-0 END -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "get",
                async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "stockRecommend/hotBoard", //请求发送到TestServlet处
                dataType: "json", //返回数据形式为json
                success: (result) => {
                    $("#hot-board-list").empty();
                    for(let key in result){
                        let hotBoardRow="<tr><td></td><td></td><td></td></tr>";
                        $("#hot-board-list").append(hotBoardRow);
                        $("#hot-board-list tr:last td:eq(0)").text(key);
                        $("#hot-board-list tr:last td:eq(1)").text(result[key][0]);
                        $("#hot-board-list tr:last td:eq(2)").text((result[key][1]>0?"+":"") +result[key][1]+"%");
                    }
                },
            });
            $.ajax({
                type: "get",
                async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "stockRecommend/hotStocks", //请求发送到TestServlet处
                dataType: "json", //返回数据形式为json
                success: (result) => {
                    $("#hot-stocks-list").empty();
                    for(let i=0; i<5;i++){
                        let hotStocksRow="<tr><td><a class='btn-link'></a></td><td></td><td></td></tr>";
                        $("#hot-stocks-list").append(hotStocksRow);
                        $("#hot-stocks-list tr:last td:eq(0) a").text(result[i][0]);
                        $("#hot-stocks-list tr:last td:eq(1)").text(result[i][1]);
                        $("#hot-stocks-list tr:last td:eq(2)").text((result[i][2]>0?"+":"") +result[i][2]+"%");
                    }
                },
            });
        });
    </script>
</div>
</body>

<% include ../Components/footer.ejs %>
</html>
