<!doctype html>
<html>
<head>
    <% include ../Components/settings.html %>
    <title>BUFF-推荐策略</title>
</head>
<body>
<div class="page-container">

    <% include ../Components/navigator.ejs %>

    <div class="bloc bgc-white l-bloc" id="bloc-1">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="col-sm-6">
                        <div>
                            <blockquote>
                                <h1>
                                    <strong style="color: deepskyblue">正常市场环境</strong>
                                </h1>
                            </blockquote><img src="/img/normal.png" width="241" height="220" />
                            <blockquote>
                                <p>
                                    全部的市场环境
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: 30px">
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="btn-link">
                                    <h2 class="mg-clear text-center">
                                        推荐策略
                                    </h2>
                                </a>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled list-sp-md">
                                    <table class="table">
                                        <tbody>
                                        <tr class="active">
                                            <td>a</td>
                                            <td>a</td>
                                        </tr>
                                        <tr class="success">
                                            <td>a</td>
                                            <td>a</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>a</td>
                                            <td>a</td>
                                        </tr>
                                        <tr class="danger">
                                            <td>a</td>
                                            <td>a</td>
                                        </tr>
                                        <tr class="">
                                            <td>a</td>
                                            <td>a</td>
                                        </tr>
                                        <tr class="info">
                                            <td>a</td>
                                            <td>a</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="col-sm-6">
                        <div>
                            <blockquote>
                                <h1>
                                    <strong style="color: red">高温</strong>
                                    <strong style="color: deepskyblue">持续</strong>
                                </h1>
                            </blockquote><img src="/img/up.png" width="241" height="210" />
                        </div>
                        <blockquote>
                            <p>
                                股票市场持续火热，上涨股票比例极高，且上涨股票有持续上涨的趋势
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h2 class="mg-clear text-center">
                                    推荐策略
                                </h2>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled list-sp-md">
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-blue-gray" style="background:#6699CC;color:#FFFFFF!important">评分:78</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-blue-gray" style="background:#6699CC;color:#FFFFFF!important">评分62</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-blue-gray" style="background:#6699CC;color:#FFFFFF!important">评分:55</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-blue-gray" style="background:#6699CC;color:#FFFFFF!important">评分: 45</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset bgc-white-2">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="col-sm-6">
                        <div>
                            <blockquote>
                                <h1>
                                    <strong style="color: orangered">高</strong>
                                    <strong style="color: deepskyblue">温</strong>
                                    <strong style="color: orangered">反</strong>
                                    <strong style="color: deepskyblue">转</strong>
                                </h1>
                            </blockquote><img src="/img/upDown.png" width="241" height="210" />
                        </div>
                        <blockquote>
                            <p>
                                股票市场火热，上涨股票比例高，但上涨股票有一定的下降趋势
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h2 class="mg-clear text-center">
                                    推荐策略
                                </h2>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled list-sp-md">
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-medium-persian-blue" style="background:#006699;color:#FFFFFF!important;">评分:79</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-medium-persian-blue" style="background:#006699;color:#FFFFFF!important;">评分63</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-medium-persian-blue" style="background:#006699;color:#FFFFFF!important;">评分:63</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-medium-persian-blue" style="background:#006699;color:#FFFFFF!important;">评分:45</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="col-sm-6">
                        <div>
                            <blockquote>
                                <h1>
                                    <strong style="color: green">低温</strong>
                                    <strong style="color: deepskyblue">持续</strong>
                                </h1>
                            </blockquote><img src="/img/down.png" class="image-resize-mode" width="241" height="210" />
                        </div>
                        <blockquote>
                            <p>
                                股票市场持续低温，下跌股票比例极高，且下跌股票有持续下跌的趋势<br>
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h2 class="mg-clear text-center">
                                    推荐策略
                                </h2>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled list-sp-md">
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-dark-midnight-blue" style="background:#003366;color:#FFFFFF!important;">评分:68</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-dark-midnight-blue"style="background:#003366;color:#FFFFFF!important;" >评分62</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-dark-midnight-blue" style="background:#003366;color:#FFFFFF!important;">评分:55</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-dark-midnight-blue-2" style="background:#003366;color:#FFFFFF!important;">评分: 35</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="col-sm-6">
                        <div>
                            <blockquote>
                                <h1>
                                    <strong style="color: limegreen">低</strong>
                                    <strong style="color: deepskyblue">温</strong>
                                    <strong style="color: limegreen">反</strong>
                                    <strong style="color: deepskyblue">转</strong>
                                </h1>
                            </blockquote><img src="/img/upDown.png" width="241" height="210" />
                            <blockquote>
                                <p class=" ">
                                    股票市场冷淡，下跌股票比例高，且下跌股票有一定上涨上涨的趋势
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h2 class="mg-clear text-center">
                                    推荐策略
                                </h2>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled list-sp-md">
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-black">评分:78</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-black">评分62</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-black">评分:55</a>
                                    </li>
                                    <li>
                                        <a href="/user/quantitative-analysis/choose" class="btn btn-lg btn-block btn-black">评分: 45</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>

</div>
</body>

<% include ../Components/footer.ejs %>
</html>
