<div id="dailyKLineChart" class="center-block col-sm-12" style="height: 400px"></div>

<div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified" id="daily_subTab">
        <li class="active"><a href="#daily_KDJChart">KDJ</a></li>
        <li><a href="#daily_MACDChart">MACD</a></li>
        <li><a href="#daily_RSIChart">RSI</a></li>
        <li><a href="#daily_BOLLChart">BOLL</a></li>
        <li><a href="#daily_WRChart">WR</a></li>
        <li><a href="#daily_BIASChart">BIAS</a></li>
    </ul>
</div>

<div class="col-sm-12 tab-content">
    <div id="daily_KDJChart" class="tab-pane active" style="height: 120px"></div>
    <div id="daily_MACDChart" class="tab-pane" style="height: 120px"></div>
    <div id="daily_RSIChart" class="tab-pane" style="height: 120px"></div>
    <div id="daily_BOLLChart" class="tab-pane" style="height: 120px"></div>
    <div id="daily_WRChart" class="tab-pane" style="height: 120px"></div>
    <div id="daily_BIASChart" class="tab-pane" style="height: 120px"></div>
</div>

<script src="/echarts/theme/shine.js"></script>
<script src="/echarts/chartsIniters/dailyKLineIniter.js"></script>

<script>
    $('#daily_subTab').find('a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $(this).resize();
        if($(this).attr('href') === '#daily_KDJChart')
            daily_KDJChart.resize();
        if($(this).attr('href') === '#daily_MACDChart')
            daily_MACDChart.resize();
        if($(this).attr('href') === '#daily_RSIChart')
            daily_RSIChart.resize();
        if($(this).attr('href') === '#daily_BOLLChart')
            daily_BOLLChart.resize();
        if($(this).attr('href') === '#daily_WRChart')
            daily_WRChart.resize();
        if($(this).attr('href') === '#daily_BIASChart')
            daily_BIASChart.resize();
    });
</script>