<div id="dailyKLineChart" class="center-block col-sm-12" style="height: 400px"></div>

<div class="col-sm-1"></div>
<div class="col-sm-10">
    <ul class="nav nav-tabs nav-justified" id="daily_subTab">
        <li class="active"><a href="#daily_KDJChart">KDJ</a></li>
        <li><a href="#daily_MACDChart">MACD</a></li>
        <li><a href="#daily_RSIChart">RSI</a></li>
    </ul>
</div>
<div class="col-sm-1"></div>

<div class="col-sm-12 tab-content">
    <div id="daily_KDJChart" class="tab-pane active" style="height: 120px"></div>
    <div id="daily_MACDChart" class="tab-pane" style="height: 120px"></div>
    <div id="daily_RSIChart" class="tab-pane" style="height: 120px"></div>
</div>

<script src="/echarts/theme/shine.js"></script>
<script src="/echarts/chartsIniters/dailyKLineIniter.js"></script>

<script>
    $('#daily_subTab').find('a').click(function (e) {
        $(this).tab('show');
        $(this).resize();
    });
</script>