<div id="monthlyKLineChart" class="center-block col-sm-12" style="height: 300px"></div>

<div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified" id="monthly_subTab">
        <li class="active"><a href="#monthly_KDJChart">KDJ</a></li>
        <li><a href="#monthly_MACDChart">MACD</a></li>
        <li><a href="#monthly_RSIChart">RSI</a></li>
        <li><a href="#monthly_BOLLChart">BOLL</a></li>
        <li><a href="#monthly_WRChart">WR</a></li>
        <li><a href="#monthly_BIASChart">BIAS</a></li>
    </ul>
</div>

<div class="col-sm-12 tab-content">
    <div id="monthly_KDJChart" class="tab-pane active" style="height: 120px"></div>
    <div id="monthly_MACDChart" class="tab-pane" style="height: 120px"></div>
    <div id="monthly_RSIChart" class="tab-pane" style="height: 120px"></div>
    <div id="monthly_BOLLChart" class="tab-pane" style="height: 120px"></div>
    <div id="monthly_WRChart" class="tab-pane" style="height: 120px"></div>
    <div id="monthly_BIASChart" class="tab-pane" style="height: 120px"></div>
</div>

<script src="/echarts/theme/shine.js"></script>
<script src="/echarts/chartsIniters/monthlyKLineIniter.js"></script>

<script>
    $('#monthly_subTab').find('a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $(this).resize();
        if($(this).attr('href') === '#monthly_KDJChart')
            monthly_KDJChart.resize();
        if($(this).attr('href') === '#monthly_MACDChart')
            monthly_MACDChart.resize();
        if($(this).attr('href') === '#monthly_RSIChart')
            monthly_RSIChart.resize();
        if($(this).attr('href') === '#monthly_BOLLChart')
            monthly_BOLLChart.resize();
        if($(this).attr('href') === '#monthly_WRChart')
            monthly_WRChart.resize();
        if($(this).attr('href') === '#monthly_BIASChart')
            monthly_BIASChart.resize();
    });
</script>