<div id="monthlyKLineChart" class="center-block col-sm-12" style="height: 400px"></div>

<div class="col-sm-1"></div>
<div class="col-sm-10">
    <ul class="nav nav-tabs nav-justified" id="monthly_subTab">
        <li class="active"><a href="#monthly_KDJChart">KDJ</a></li>
        <li><a href="#monthly_MACDChart">MACD</a></li>
        <li><a href="#monthly_RSIChart">RSI</a></li>
    </ul>
</div>
<div class="col-sm-1"></div>

<div class="col-sm-12 tab-content">
    <div id="monthly_KDJChart" class="tab-pane active" style="height: 120px"></div>
    <div id="monthly_MACDChart" class="tab-pane" style="height: 120px"></div>
    <div id="monthly_RSIChart" class="tab-pane" style="height: 120px"></div>
</div>

<script src="/echarts/theme/shine.js"></script>
<script src="/echarts/chartsIniters/monthlyKLineIniter.js"></script>

<script>
    $('#monthly_subTab').find('a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $(this).resize();
    });
</script>