<div id="timeSharingChart" class="center-block col-sm-12" style="height: 300px"></div>

<script src="/echarts/theme/shine.js"></script>
<script src="/echarts/chartsIniters/timeSharingIniter.js"></script>