<div id="weeklyKLineChart" class="center-block col-sm-12" style="height: 400px"></div>

<div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified" id="weekly_subTab">
        <li class="active"><a href="#weekly_KDJChart">KDJ</a></li>
        <li><a href="#weekly_MACDChart">MACD</a></li>
        <li><a href="#weekly_RSIChart">RSI</a></li>
        <li><a href="#weekly_BOLLChart">BOLL</a></li>
        <li><a href="#weekly_WRChart">WR</a></li>
        <li><a href="#weekly_BIASChart">BIAS</a></li>
    </ul>
</div>

<div class="col-sm-12 tab-content">
    <div id="weekly_KDJChart" class="tab-pane active" style="height: 120px"></div>
    <div id="weekly_MACDChart" class="tab-pane" style="height: 120px"></div>
    <div id="weekly_RSIChart" class="tab-pane" style="height: 120px"></div>
    <div id="weekly_BOLLChart" class="tab-pane" style="height: 120px"></div>
    <div id="weekly_WRChart" class="tab-pane" style="height: 120px"></div>
    <div id="weekly_BIASChart" class="tab-pane" style="height: 120px"></div>
</div>

<script src="/echarts/theme/shine.js"></script>

<script>
    $('#weekly_subTab').find('a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $(this).resize();
        if($(this).attr('href') === '#weekly_KDJChart')
            weekly_KDJChart.resize();
        if($(this).attr('href') === '#weekly_MACDChart')
            weekly_MACDChart.resize();
        if($(this).attr('href') === '#weekly_RSIChart')
            weekly_RSIChart.resize();
        if($(this).attr('href') === '#weekly_BOLLChart')
            weekly_BOLLChart.resize();
        if($(this).attr('href') === '#weekly_WRChart')
            weekly_WRChart.resize();
        if($(this).attr('href') === '#weekly_BIASChart')
            weekly_BIASChart.resize();
    });
</script>